/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

html {
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.card-subtitle {
    font-size: 14px;
    font-weight: 400;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/*----------------------------------------------------------------------------------------------*/
/*HEADER ---> NAV*/

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    padding-bottom: 30px;
   
}

nav img {
    width: 61.09px;
    height: 19px;
    padding-top: 30px;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #000000;
    padding-top: 24px;
    font-size: 16px;
}

nav a:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    transition: 0.3s;
}


/*----------------------------------------------------------------------------------------------*/
/* Barre de recherche & filtre*/


/*---------------------------------------------*/
/*TITRE*/

.searchTitle h1{
    margin-bottom: 0px;
    padding-bottom: 4px;
}
.searchTitle p {
    margin-top: 0px;
}





/*---------------------------------------------*/
/*BARRE DE RECHERCHE*/

.searchAndFilter #searchBar {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

form {
    display: flex;
    flex-direction: row;
}

#searchBar i {
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    color: #000000;
    padding: 15px 18px 16px 18px;
    border: 0px solid #000000;
    font-size: larger;
    height: 18px;
}

#searchBar #recherche {
    height: 49px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #0065FC;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    width: 195px;
} 

#searchBar #recherche::placeholder {
    color: #000000;
}

#searchBar #recherche:focus {
    outline: none; /*retire les border au click*/
}

#searchBar #recherche:focus::placeholder {
    opacity: 0.1;/*reduit l'opacité du placeholder au click*/
}


.searchButton input {
    border-radius: 0px 15px 15px 0px;
    border: none;
    background-color: #0065FC;
    cursor:pointer;
    width: 132px;
    height: 49px;
    font-size: 18px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

/*---------------------------------------------*/
/*FILTRE*/

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.filterCategory {
    display: flex;
    flex-direction: row;
    width: 35%;
}

.filterChoice {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: flex-start;
    white-space: nowrap;
    overflow:inherit;
    width: 35%;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #d9d9d9;
    font-size: 17px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}

.filterChoice i {
    padding-right: 7px;
    font-size:large;
}

.filterChoice:hover {
    background-color: #DEEBFF;
    transition: 0.3s;
}

/*---------------------------------------------*/
/*INFO BAR*/

.infoBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.infoBar i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid #d9d9d9;
    padding: 2px;

}

.infoBar p {
    padding-left: 10px;
}



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-and-populaires .hebergements {
    padding-bottom: 5px; /*Enleve du padding sous afficher plus*/
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
       
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    width: 30%; /* width me permet d'avoir une bonne proportion dans le background gris grace à wrap/direction et between */
    /* height: 30%; Pas vu de diff en ajoutant le height*/
    height: 207.25px;
}

.hebergements-cards img {
    width: 100%;
    height: 134px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-cards h3 {
    white-space : nowrap;
}

.hebergements-cards p {
    white-space : nowrap;
}

.under-title {
    font-weight: 700;
    font-size: 18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* ACTIVITÉS A MARSEILLE */

.activites {
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}



.activites-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 480px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 23%; 
    padding: 0; /* enlever la marge de la bordure */
}


.activites-cards img {
    width: 100%;
    height: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}


.activites-cards .card-title {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.activites-cards h3 {
    white-space : nowrap;
    font-size: 16px;
    font-weight: 700;
}

/* FOOTER */

.footer {
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    height: auto;
    margin-top: 50px;


}

.piedPage {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 33.33%;
}

.piedPage a {
    text-decoration: none;
    color: #000000;
}

.liens div {
    padding-bottom: 15px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* LARGE DESKTOP*/

@media (min-width: 1600px) {
    body {
        display: flex;
        align-items: center;
        
    }
}
/*Pour les large desktop avoir comme sur figma le site en plein milieu*/




/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .header {
        width: 100%;
    }

    .searchAndFilter {
        width: 100%;
    }

    /*FILTER*/

    .filter {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .filterChoice {
        font-size: 16px;
        margin-left: 0;
        margin-right: 20px;
        width: 50%;
    }

    .filterTitle {
        margin-bottom: 10px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /* regler les dimensions des activity cards*/
    .activites-cards {
        height: 270px;
    }

    .activites-cards h3 {
        white-space :normal;
        font-size: 16px;
        font-weight: 700;
    }

    .activites-cards img {
        width: 100%;
        height: 72%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        
    }

    .activites-cards .card-title {
        display: flex;
        align-items: center;
        padding-left: 20px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    
    body {
        width: 100%;
    }

    .main-container {
        width: 100%; /*Pour que le header nav couvre toute la largeur*/
        padding-left: 0px;
        padding-right: 0px;
    }


    .header {
        width: 100%;
    }

    .main {
        width:100%;
    
    }

    header nav {
        display: flex;
        flex-direction: column;
        gap: 0px; 
    }
    

     .logo-booki {
        display: flex;
        align-items: center;
    }

    .nav-anchor {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        text-decoration: none;
        color: #000000;
        font-size: 16px;
  
    }

    .nav-anchor a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-bottom: 15px;
        border-bottom: 2px solid #F2F2F2;
        margin-left: 0;
        margin-right: 0;
    }
    
    nav a:hover {
        border-bottom: 2px solid #0065FC;
        border-top: none;
        color: #0065FC;
    }

     /*RECHERCHE ET FILTRE */

     .searchAndFilter {
        width: 95%;
        padding-left: 5%;
        
    }


    #searchBar {
        padding-left: 10px;
    }

    #searchBar #recherche {
        width: 100%;
        position:static;
    }


    .searchButton {
        display: none;
    }

    .searchButton2 input {
        border-radius: 15px;
        border: none;
        background-color: #0065FC;
        cursor:pointer;
        width: 49px;
        height: 49px;
        font-size: 18px;
        color: white;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        margin-left: -15px; /*Permet de se coller à la bordure pour s'aligner parfaitement */

    }

    .searchButton2::before {
        font: var(--fa-font-solid); /*Permet d'ajouter l'icone avec font et content en mode mobile*/
        content: "\f002";
        position: absolute;
        font-size: large;
        color: white;
        padding-top: 15px;
    }

    #searchBar #recherche {
        border-right: none;
    }
        /*enleve la bordure à droite de la barre de recherche*/

    .filter {
        width: 100%;
        padding-bottom: 0px;
    }
    
        .filterCategory {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin-right: 0px;
        padding-right: 0px;
        }

        .filterChoice {
            font-size: 14px;
            width: 30%;
            margin-bottom: 15px;
            margin-right: 10px;
        }

        .infoBar {
            margin: 0px 30px 0px 30px;
        }

        /* HEBERGEMENT ET POPULAIRES*/

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .populaires {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards .card {
        width: 100%;
        height: 146px;
    }

    .populaires-cards img {
        width: 33%;
        height: 146px;
        
    }

    .hebergements-and-populaires .hebergements {
        background-color: white;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        align-items:center ;
    }

    .hebergements-cards .card {
        width: 100%;
        height: 240px;
    }

    .hebergements-cards img {
        height: 144px;
    }

    .hebergements-cards .card-title {
        padding-bottom: 7px;
    }

    .hebergements-cards .card-subtitle {
        padding-bottom: 5px;
    }

    /*ACTIVITES*/

    .activites {
        margin-bottom: 630px;
        
    }

    .activites-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .activites-cards .card {
        width: 90%;
        height: 70%;
    }

    /*FOOTER*/

    .footer {
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
    }
    


}

/*CACHER LE DEUXIEME BOUTON*/
@media (min-width: 767.98px) {
    .searchButton2 {
        display: none;
    }
}